files:
  /etc/nginx/conf.d/https.conf:
    content: |
      # HTTPS server

      upstream unicorn {
        server localhost:3000;
      }

      server {
          listen       443;
          server_name  localhost;

          ssl                  on;
          ssl_certificate      /etc/pki/tls/certs/server.crt;
          ssl_certificate_key  /etc/pki/tls/certs/server.key;

          ssl_session_timeout  5m;

          ssl_protocols  TLSv1 TLSv1.1 TLSv1.2;
          ssl_ciphers "EECDH+AESGCM:EDH+AESGCM:AES256+EECDH:AES256+EDH";
          ssl_prefer_server_ciphers   on;

          location / {
              proxy_pass  http://unicorn;
              proxy_set_header        Host            $host;
              proxy_set_header        X-Forwarded-For $proxy_add_x_forwarded_for;
          }

          location /assets {
            alias /var/app/current/public/assets;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }

          location /public {
            alias /var/app/current/public;
            gzip_static on;
            gzip on;
            expires max;
            add_header Cache-Control public;
          }
      }
  /etc/pki/tls/certs/server.crt:
    content: |
      -----BEGIN CERTIFICATE-----
      MIICazCCAdQCCQDnz+fbQD48GDANBgkqhkiG9w0BAQsFADB6MQswCQYDVQQGEwJo
      cjEPMA0GA1UECAwGemFncmViMQ8wDQYDVQQHDAZ6YWdyZWIxDTALBgNVBAoMBG11
      a2kxDTALBgNVBAsMBHRlc3QxDjAMBgNVBAMMBXRoaW5nMRswGQYJKoZIhvcNAQkB
      Fgx0ZXN0QHRlc3QuaHIwHhcNMTcwMTI5MjAzMDM0WhcNMTgwMTI5MjAzMDM0WjB6
      MQswCQYDVQQGEwJocjEPMA0GA1UECAwGemFncmViMQ8wDQYDVQQHDAZ6YWdyZWIx
      DTALBgNVBAoMBG11a2kxDTALBgNVBAsMBHRlc3QxDjAMBgNVBAMMBXRoaW5nMRsw
      GQYJKoZIhvcNAQkBFgx0ZXN0QHRlc3QuaHIwgZ8wDQYJKoZIhvcNAQEBBQADgY0A
      MIGJAoGBAMKoodWDWkH7TjpBj4728OLfB4NFCGxuwiWN5nxh/d4Mco1U0zEJK+Wv
      vyNLADWN6TsMN2gjeloeNEo/aBrx9QzMPUV6FFYHdSHg0ihpFHVJ+dPmjceguql1
      D17ch08HbYkgllxtxoytGQvSeOmwLTyGAT5yZQsrHN9qK4nTIK1JAgMBAAEwDQYJ
      KoZIhvcNAQELBQADgYEAsrq7cET1WXJd/XOPLgJXcaqu8/+Ik/yRlLrBQfQVY3Fj
      g7+gEJsM5whJoGuG7vY7wN9ZUbtpnm/F3WZNCyT3MahYx2kxhrkXQEz1jclwVxT7
      eKAyrti/lPmLjRndD9h0Pwgw70VvNV2CcI5krsC6ntwOwk8ieWTM7GP9V7i9RsU=
      -----END CERTIFICATE-----

  /etc/pki/tls/certs/server.key:
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIICXQIBAAKBgQDCqKHVg1pB+046QY+O9vDi3weDRQhsbsIljeZ8Yf3eDHKNVNMx
      CSvlr78jSwA1jek7DDdoI3paHjRKP2ga8fUMzD1FehRWB3Uh4NIoaRR1SfnT5o3H
      oLqpdQ9e3IdPB22JIJZcbcaMrRkL0njpsC08hgE+cmULKxzfaiuJ0yCtSQIDAQAB
      AoGBAJA7wy4hlc8uFli0G1sjPnncKATsMcGmj9SjwBSJx0Gwl3CBWbsLwKr//fB4
      sj78V8SY2LUhFJeRqc0aDlloztjQgRmP1efhtoiDDYJ8IE0VKRmtAoXI9G4wMYOo
      5V8QjuXdr/EvmHofvhGjgRZGLmVpcAZ5pJ6ucPO25iUQ0rHBAkEA9OFKiY+j9tdX
      mnN5dcnMfnWsWTniq+lE55jI8szXub8f1H3hpLPTqwaGhC2ogLh0VjVBVhf5iO6e
      qUHOMDFb5wJBAMt/hcYCVdS8m6nex93vxEOY04ILggnZ9XCzoleA5dqjv9uLCChA
      pEyYCc9rFkwx1PdsQLUq8qlEmBkXIlZOB08CQQCvKgRmV/BCXpFUcutb/SihAM1y
      2bwxml/mhlyfiTV6saM0HYNtjBCJ0tYf8IUK5maZT+jXi7i8YWvuyJqT0IrbAkAZ
      ktEQ7UI0Fe/KDUE41uTnSdFqyl9xNX7uxuRj8sLwExwNTw+bX2RGa+TvuBl5Qdnt
      riEDo34TX5dtr8aU6gFpAkAI2lq5KZh7HAH2Y/7oZwlFACkGqC8/pCZxI7/ViGJ+
      AwklE54C8BAFHS2UfZamZi9L1nWldY47p0b7Qt1rGLML
      -----END RSA PRIVATE KEY-----

container_commands:
  01restart_nginx:
    command: "service nginx restart"